body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease;
}
button {
    padding: 15px 30px;
    font-size: 25px;
    font-style: inherit;
    font-weight: bolder;
    cursor: pointer;
    border: 3px solid #000;
    border-radius: 5px;
    background: linear-gradient(45deg, #e9e61e, #ff5722);
    transform: scale(1.05);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
button:hover {
    font-size:30px;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(45deg, #e91e63, #ff5722);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
   
    
}


